:root {
  --hero-background-white: #F6F8FF;
  --poppins: "Poppins", sans-serif;
  --small: 400px;
  ---medium: 800px;
  ---large: 1100px;
}

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: var(--poppins);
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin-inline: auto;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 95%;
  }
}
.page-header {
  padding-top: 2rem;
  top: 0;
  background-color: var(--background-white);
  z-index: 100;
  background: var(--hero-background-white);
}

.hamburger-menu {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}
.hamburger-menu img {
  height: 42px;
  width: 42px;
  pointer-events: none;
}

.page-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navlink {
  text-decoration: none;
  color: #172F53;
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 400;
}

.navlink:not(.logo):hover {
  color: #FF0076;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.logo-img {
  width: 50.759px;
}

.close-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
}
.close-btn img {
  height: 42px;
  width: 42px;
}

@media screen and (max-width: 800px) {
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    width: 67.733%;
    padding-left: 2em;
    align-items: flex-start;
    padding-top: 118px;
    gap: 32px;
    background: rgba(255, 0, 118, 0.04);
    -webkit-backdrop-filter: blur(40.7742271423px);
            backdrop-filter: blur(40.7742271423px);
    transform: translateX(100vw);
    opacity: 0;
    transition: opacity 1s, transform 1s;
    z-index: 105;
  }
  .hamburger-menu {
    display: block;
  }
  .close-btn {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    font-size: 1.5rem;
  }
}
.slideIn {
  transform: translateX(0);
  opacity: 1;
}

.hero {
  min-height: 33.5rem;
  background: var(--hero-background-white);
}

.hero .wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 200px;
  justify-content: center;
}

.hero-img-con {
  width: 280px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  z-index: 3;
  position: relative;
}

.hero--text {
  max-width: 516px;
}

.hero-header {
  color: #261134;
  font-size: 49px;
  font-weight: 800;
  line-height: 120%;
}

.hero-text--para {
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.contact-us-btn {
  display: inline-block;
  margin-top: 41px;
  padding: 12px 20px;
  font-size: 20px;
  font-family: var(--poppins);
  font-weight: 700;
  background-color: #FF0076;
  transition: 0.5s background-color;
  text-decoration: none;
  color: white;
}
.contact-us-btn:hover {
  background-color: purple;
}

.cyan, .blue {
  position: absolute;
  height: 152px;
  width: 150px;
  z-index: 1;
}

.cyan {
  left: -2.8rem;
  bottom: 1rem;
}

.blue {
  right: -3.6rem;
  bottom: 8.5rem;
}

.grp-14, .grp-14, .grp-16, .grp-18, .grp-rect, .pink-element {
  position: absolute;
  z-index: 5;
}

.grp-14 {
  left: -0.8rem;
  width: 2.8rem;
  top: 8rem;
}

.grp-rect {
  width: 1.5rem;
  right: -0.4rem;
  top: 5rem;
}

.grp-16 {
  right: -4rem;
  width: 2.8rem;
  top: 8.8rem;
}

.grp-18 {
  width: 2.8rem;
  right: -2rem;
  bottom: 2rem;
}

.pink-element {
  height: 184px;
  width: 868.641px;
  background: rgba(253, 62, 152, 0.2);
  bottom: -2rem;
  left: 3.1rem;
  z-index: 0;
}

.tracker-section {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
  width: 85%;
  padding: 2rem 3rem;
  z-index: 3;
}
.tracker-section h3 {
  color: #172F53;
  font-family: var(--poppins);
  font-size: 2rem;
  font-weight: 600;
}
.tracker-section p {
  font-size: 16px;
  font-family: var(--poppins);
}
.tracker-section input {
  border-radius: 10px;
  background: #EFEFEF;
  padding: 1rem 2rem;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-size: 20px;
  font-family: var(--poppins);
  width: 100%;
}
.tracker-section input::-moz-placeholder {
  color: #9F9F9F;
}
.tracker-section input::placeholder {
  color: #9F9F9F;
}
.tracker-section button {
  padding: 1rem 2rem;
  border-radius: 10px;
  background: #21D8E3;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-size: 20px;
  font-family: var(--poppins);
  color: #FFFFFF;
  font-weight: 700;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.tracker-section form {
  display: flex;
  margin-top: 30px;
  gap: 4rem;
  justify-content: space-between;
}

@media screen and (max-width: 1270px) {
  .hero .wrapper {
    gap: 100px;
  }
}
@media screen and (max-width: 1060px) {
  .hero {
    padding-top: 4rem;
  }
  .hero .wrapper {
    flex-direction: column;
    gap: 0;
  }
  .hero-header {
    font-size: 35px;
  }
  .hero-text--para {
    font-size: 18px;
    margin-top: 1rem;
  }
  .tracker-section {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .tracker-section h3 {
    font-size: 1.5rem;
  }
  .tracker-section input {
    padding: 0.5rem 1rem;
    font-size: 16px;
  }
  .tracker-section button {
    font-size: 16px;
    padding: 0.5rem 1rem;
  }
  .tracker-section form {
    gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .tracker-section {
    text-align: center;
  }
  .tracker-section form {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .tracker-section button {
    padding: 1rem 1.5rem;
  }
  .tracker-section input {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    text-align: center;
  }
  .hero-img {
    background: red;
  }
  .hero-header {
    font-size: 1.9rem;
  }
  .hero-text--para {
    font-size: 1rem;
  }
  .tracker-section {
    padding: 1rem;
  }
  .cyan, .blue {
    height: 100px;
    width: 100px;
  }
}
.about-us .wrapper {
  min-height: 100vh;
  padding-block: 4rem;
}

.about-header {
  color: #261134;
  font-size: 1.5rem;
  font-weight: 700;
}

.about-us-main-content {
  display: flex;
  gap: 3rem;
}

.about-us--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  color: #4D4D4D;
}
.about-us--text h3 {
  color: #172F53;
  font-size: 2rem;
}

.about-us--text-inner-group, .about-us--text-inner-group-item {
  display: flex;
  align-items: center;
}

.about-us--text-inner-group-item {
  gap: 1rem;
}
.about-us--text-inner-group-item > * {
  flex-grow: 1;
}
.about-us--text-inner-group-item img {
  width: 3rem;
}
.about-us--text-inner-group-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.about-us--text-inner-group-item div h4 {
  color: #172F53;
}
.about-us--text-inner-group-item div p {
  font-size: 14px;
}

.about-us--img-con {
  max-width: 400px;
  font-size: 12px;
}
.about-us--img-con > img {
  height: 100%;
  width: 100%;
}

.out-team {
  display: inline-block;
  align-self: flex-start;
  margin-top: 41px;
  padding: 12px 20px;
  font-size: 20px;
  font-family: var(--poppins);
  font-weight: 700;
  background-color: #FF0076;
  transition: 0.5s background-color;
  text-decoration: none;
  color: white;
}
.out-team:hover {
  background-color: purple;
}

.tilde {
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
  .about-us--text-inner-group {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .about-us-main-content {
    align-items: flex-start;
  }
  .about-header {
    font-size: 1.2rem;
  }
  .about-us--text {
    gap: 1rem;
  }
  .about-us--text h3 {
    color: #172F53;
    font-size: 1.5rem;
  }
  .about-us--text > p {
    font-size: 16px;
  }
  .about-us--text .out-team {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .about-us-main-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .about-us .wrapper {
    padding-block: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .about-us .wrapper {
    padding-block: 1rem;
  }
}
.contactUs-section {
  min-height: 100vh;
  padding-block: 2rem;
}
.contactUs-section .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.form-section {
  padding: 1rem 2rem;
  border: 8px solid rgba(229, 229, 229, 0.54);
  background: #E5E5E5;
  box-shadow: -7.7px 7.7px 7.7px 0px rgba(255, 255, 255, 0.1) inset, 7.7px -7.7px 7.7px 0px rgba(149, 149, 149, 0.1) inset;
  -webkit-backdrop-filter: blur(7.6999998093px);
          backdrop-filter: blur(7.6999998093px);
  color: #4D4D4D;
}
.form-section h3 {
  font-family: var(--poppins);
  font-size: 2rem;
  color: #261134;
}
.form-section form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  align-items: flex-start;
}
.form-section input, .form-section textarea {
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-family: var(--poppins);
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  background: rgba(251, 252, 253, 0.94);
}
.form-section input:focus, .form-section textarea:focus {
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.form-section textarea {
  resize: none;
  height: 10rem;
}
.form-section button {
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: #FF0076;
  font-family: var(--poppins);
  font-size: 20px;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  align-self: center;
}

.form-section-header-para {
  font-family: var(--poppins);
  font-size: 14px;
}

.address-container {
  background: #FF0076;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}
.address-container > div {
  background: rgba(251, 252, 253, 0.94);
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  font-family: var(--poppins);
  flex-direction: column;
  color: #4D4D4D;
  gap: 1rem;
}
.address-container > div h4 {
  font-size: 1.5rem;
  color: #261134;
}
.address-container > div > *:not(h4) {
  font-size: 14px;
}
.address-container > div img {
  width: 30px;
}
.address-container > div div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 466px) {
  .contactUs-section .wrapper {
    grid-template-columns: 1fr;
  }
}
.footer {
  background: #172F53;
  padding-top: 90px;
  color: white;
  font-family: var(--poppins);
  background-image: url(../images/footer-bg.png);
  background-size: 100% 45%;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 100px;
}

.footer a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.footer .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20rem;
  gap: 2rem;
}

.footer-header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 1rem;
}

.footer-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-link {
  font-size: 15px;
  font-weight: 500;
}

.footer-link img {
  width: 180px;
  height: 48px;
}

@media screen and (max-width: 800px) {
  .footer .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-auto-rows: auto;
  }
  .footer {
    background-image: none;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
  }
  .footer-group {
    gap: 0;
  }
}
@media screen and (max-width: 512px) {
  .footer-link img {
    width: 100px;
    height: 48px;
  }
  .footer-header {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  .footer-link {
    font-size: 14px;
    font-weight: 500;
  }
  .address {
    font-size: 14px;
  }
}
@media screen and (max-width: 428px) {
  .footer .wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-auto-rows: auto;
  }
}/*# sourceMappingURL=styles.css.map */